package components

templ Body(loggedIn bool) {
    if loggedIn {
        <body>
            <h1>Welcome back</h1>
        </body>
    } else {
        <body>
            <h1>Not logged in</h1>
        </body>
    }
}
