package pages

import (
	_ "github.com/hookenz/app-template/web/components"
	"github.com/hookenz/app-template/web/deps"
)

templ Home() {
	<!DOCTYPE html>
	<html lang="en">
		<head>
			<meta charset="UTF-8"/>
			<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
			@deps.HTMX()
			<title>App Template</title>
		</head>
        <body>
		</body>
	</html>
}
