package pages

import "github.com/hookenz/app-template/web/deps"

templ Page() {
    <!DOCTYPE html>
    <html lang="en-US">
        <head>
            <meta charset="UTF-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
            @deps.HTMX()
        </head>
        <body>
            <div class="topbar"></div>
            <div class="menu"></div>
            <div class="mainpanel"></div>
        </body>
    </html>
}