.login-form {
  display: grid;
  width: 100%;
  min-height: 100vh;
  justify-items: center;
  align-items: center;
  padding: var(--sl-spacing-small);
}

.card-basic {
  max-width: 300px;
  box-shadow:
    0 4px 8px 0 rgba(0, 0, 0, 0.2),
    0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
